<a href="https://colab.research.google.com/github/GazalaSayyad/Movie-Recommendation/blob/KNN/MovieRecommedKNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loading packages

In [0]:
import pandas as pd
import numpy as np

In [0]:
ratings_list = [i.strip().split("::") for i in open('./ratings.dat', 'r').readlines()]
users_list = [i.strip().split("::") for i in open('./users.dat', 'r').readlines()]
movies_list = [i.strip().split("::") for i in open('./movies.dat', 'r',encoding="latin-1").readlines()]

In [0]:
ratings = np.array(ratings_list)
users = np.array(users_list)
movies = np.array(movies_list)

Creating Numpy Arrays

In [0]:
ratings_df = pd.DataFrame(ratings, columns = ['UserID', 'MovieID', 'Rating', 'Timestamp'], dtype = int)
movies_df = pd.DataFrame(movies, columns = ['MovieID', 'Title', 'Genres'])
movies_df['MovieID'] = movies_df['MovieID'].apply(pd.to_numeric)

In [11]:
movies_df.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [12]:
ratings_df.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

Format of ratings matrix to be one row per user and one column per movie. We'll pivot ratings_df to get that and call the new variable R.

In [13]:
R_df = ratings_df.pivot(index = 'UserID', columns ='MovieID', values = 'Rating').fillna(0)
R_df.head()

MovieID  1     2     3     4     5     6     ...  3947  3948  3949  3950  3951  3952
UserID                                       ...
1         5.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
4         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
5         0.0   0.0   0.0   0.0   0.0   2.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 3706 columns]

 De-mean the data (normalize by each users mean) and convert it from a dataframe to a numpy array.

In [14]:
R = R_df.as_matrix()
user_ratings_mean = np.mean(R, axis = 1)
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Singular Value Decomposition

In [0]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_demeaned, k = 50)

In [16]:
U.shape

(6040, 50)

In [0]:
sigma = np.diag(sigma)

In [0]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

Making Movie Recommendations

In [27]:
R_df.columns

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            3943, 3944, 3945, 3946, 3947, 3948, 3949, 3950, 3951, 3952],
           dtype='int64', name='MovieID', length=3706)

In [28]:
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = R_df.columns)
preds_df.head()

MovieID      1         2         3     ...      3950      3951      3952
0        4.288861  0.143055 -0.195080  ...  0.031912  0.050450  0.088910
1        0.744716  0.169659  0.335418  ... -0.101102 -0.054098 -0.140188
2        1.818824  0.456136  0.090978  ...  0.012345  0.015148 -0.109956
3        0.408057 -0.072960  0.039642  ... -0.026050  0.014841 -0.034224
4        1.574272  0.021239 -0.051300  ...  0.033830  0.125706  0.199244

[5 rows x 3706 columns]

In [0]:
def recommend_movies(predictions_df, userID, movies_df, original_ratings_df, num_recommendations=5):
    # Get and sort the user's predictions
    user_row_number = userID - 1 # UserID starts at 1, not 0
    sorted_user_predictions = preds_df.iloc[user_row_number].sort_values(ascending=False) # UserID starts at 1
    
    # Get the user's data and merge in the movie information.
    user_data = original_ratings_df[original_ratings_df.UserID == (userID)]
   # print(user_data.head())
    user_full = (user_data.merge(movies_df, how = 'left', left_on = 'MovieID', right_on = 'MovieID').
                     sort_values(['Rating'], ascending=False)
                 )

    print('User {0} has already rated {1} movies.'.format(userID, user_full.shape[0]))
    print('Recommending highest {0} predicted ratings movies not already rated.'.format(num_recommendations))
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies_df[~movies_df['MovieID'].isin(user_full['MovieID'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'MovieID',
               right_on = 'MovieID').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )

    return user_full, recommendations

In [29]:
already_rated, predictions = recommend_movies(preds_df, 756, movies_df, ratings_df, 19)

User 756 has already rated 35 movies.
Recommending highest 19 predicted ratings movies not already rated.

In [30]:
already_rated.head()

    UserID  ...                         Genres
0      756  ...                         Comedy
12     756  ...                  Action|Horror
31     756  ...             Action|Crime|Drama
29     756  ...  Action|Horror|Sci-Fi|Thriller
25     756  ...     Action|Sci-Fi|Thriller|War

[5 rows x 6 columns]

In [31]:
predictions

      MovieID  ...                               Genres
1253     1291  ...                     Action|Adventure
2761     2858  ...                         Comedy|Drama
2665     2762  ...                             Thriller
1188     1222  ...                     Action|Drama|War
3424     3527  ...               Action|Sci-Fi|Thriller
1178     1210  ...  Action|Adventure|Romance|Sci-Fi|War
1861     1953  ...          Action|Crime|Drama|Thriller
1266     1304  ...                Action|Comedy|Western
1862     1954  ...                         Action|Drama
2100     2194  ...                   Action|Crime|Drama
313       318  ...                                Drama
519       527  ...                            Drama|War
3599     3703  ...                        Action|Sci-Fi
1169     1201  ...                       Action|Western
533       541  ...                     Film-Noir|Sci-Fi
2819     2916  ...     Action|Adventure|Sci-Fi|Thriller
1204     1242  ...                     Action|Drama|War
1908     2000  ...            Action|Comedy|Crime|Drama
1232     1270  ...                        Comedy|Sci-Fi

[19 rows x 3 columns]

KNN

In [0]:
seen = {}
for x in ratings_df.values:
  seen[(int(x[0]), int(x[1]))] =1

In [43]:
ratings_df.columns

Index(['UserID', 'MovieID', 'Rating', 'Timestamp'], dtype='object')

In [0]:
userCount = max(ratings_df.UserID)
movieCount = max(ratings_df.MovieID)

Co-sine distance

In [0]:
def distance(u1, u2, mx):
    #d = 0 - seen[(u1, mx)] * seen[(u2, mx)]
    d = 0 - seen.get((u1, mx),0) * seen.get((u2, mx),0)
    for m in range(int(movieCount)):
        d += seen.get((u1, m),0) * seen.get((u2, m),0)
    return d

def kNN(k, givenUser, givenMovie):
    distances = []
    #print(userCount)
    for u in range(int(userCount)):
        if u != givenUser:
            distances.append([distance(u, givenUser, givenMovie), u])
    distances.sort()
    distances.reverse() ## Because cosine distances mean higher = closer
    return distances[:k] 

def prediction(k, givenUser, givenMovie):
    neighbours = kNN(k, givenUser, givenMovie)
    howmanySaw = sum([seen.get((u, givenMovie),0) for d, u in neighbours])
    return 2 * howmanySaw > k      ### predict 1 if more than half of the similar users have seen this movie, otherwise 0.

In [0]:
ratings_df = ratings_df.astype('int')

In [47]:
ratings_df.sample(n=3)

        UserID  MovieID  Rating  Timestamp
739881    4422     2541       5  965155262
650564    3922     2796       1  965712586
975408    5880     2353       4  958404734

In [48]:
prediction(5,837,1953)

True